*{
    margin: unset;
    padding: unset;
}
div{
  height: 100px;
  width: 100px;
  background-image: -moz-linear-gradient(#0F172A, #000000);
}

@media only screen and (min-width: 375px) and (max-width: 1440px) {
}
